In [1]:
import pandas as pd
import numpy as np

### 경제적 요인: 성별 임금

In [2]:
df_e_1 = pd.read_csv("./data/경제_성별_임금_및_근로시간.csv")
df_e_1.head()

,고용형태,성별,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,고용형태,성별,월임금총액 (천원),월임금총액 (천원),월임금총액 (천원),월임금총액 (천원),월임금총액 (천원),월임금총액 (천원),월임금총액 (천원),월임금총액 (천원),월임금총액 (천원),월임금총액 (천원),월임금총액 (천원),월임금총액 (천원),월임금총액 (천원),월임금총액 (천원),월임금총액 (천원),월임금총액 (천원),월임금총액 (천원),월임금총액 (천원)
1,전체근로자,전체,2069,2178,2279,2277,2326,2428,2527,2617,2700,2740,2833,2896,3028,3138,3180,3271,3526,3640
2,전체근로자,남,2451,2570,2700,2691,2754,2869,2974,3095,3218,3269,3364,3433,3569,3682,3722,3833,4127,4260
3,전체근로자,여,1413,1524,1583,1588,1633,1714,1815,1873,1925,1944,2040,2112,2259,2371,2408,2476,2683,2783

### 경제적 요인: 성별 고용률

In [3]:
df_e_2 = pd.read_csv("./data/경제_성별_고용률.csv")
df_e_2.head()

,성별,2023.11,2023.11.1,2023.12,2023.12.1,2024.01,2024.01.1,2024.02,2024.02.1,2024.03,...,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1,2023,2023.1
0,성별,15세이상인구 (천명),고용률 (%),15세이상인구 (천명),고용률 (%),15세이상인구 (천명),고용률 (%),15세이상인구 (천명),고용률 (%),15세이상인구 (천명),...,15세이상인구 (천명),고용률 (%),15세이상인구 (천명),고용률 (%),15세이상인구 (천명),고용률 (%),15세이상인구 (천명),고용률 (%),15세이상인구 (천명),고용률 (%)
1,계,45476.1,63.1,45505,61.7,45513.5,61,45525.2,61.6,45529.2,...,44503.7,60.9,44785,60.1,45080,60.5,45260.1,62.1,45407.1,62.6
2,남자,22402.9,71.7,22424.1,70.6,22428.9,69.8,22435.2,70.2,22435.5,...,21886.2,70.7,22035.4,69.8,22198.3,70,22272.5,71.5,22361.9,71.3
3,여자,23073.2,54.8,23080.8,53.1,23084.6,52.4,23090,53.3,23093.7,...,22617.5,51.6,22749.6,50.7,22881.7,51.2,22987.7,52.9,23045.2,54.1

### 경제적 요인: 주택 종합 매매가격 지수

In [5]:
df_e_3 = pd.read_csv("./data/경제_유형별_매매가격지수.csv")
df_e_3.head()

,주택유형별(1),지역별(1),2003.11,2003.12,2004.01,2004.02,2004.03,2004.04,2004.05,2004.06,...,2024.01,2024.02,2024.03,2024.04,2024.05,2024.06,2024.07,2024.08,2024.09,2024.10
0,종합,전국,61.45182367,60.96318451,60.65200906,60.74382884,60.84237569,60.9356494,60.91667267,60.75195248,...,96.040180,95.901927,95.786831,95.737909,95.717351,95.754276,95.899806,96.129145,96.296186,96.367141
1,종합,수도권,55.76553796,55.35919486,55.11643742,55.22895808,55.37644837,55.51144288,55.45855503,55.24562438,...,95.430554,95.285778,95.183774,95.172776,95.187721,95.364552,95.748736,96.260693,96.637514,96.847183
2,종합,지방,68.35885551,67.76079683,67.35650033,67.416319,67.44192704,67.47331005,67.50345037,67.41157398,...,96.590996,96.458992,96.331473,96.246498,96.192204,96.096392,96.016345,95.979948,95.950713,95.892347
3,종합,6대광역시,60.55593086,59.92299148,59.5571615,59.57450359,59.6360414,59.6859551,59.67871939,59.55195436,...,92.405391,92.219113,92.049402,91.937351,91.857327,91.735348,91.650747,91.653137,91.639758,91.552897
4,종합,5대광역시,61.78013951,61.11991671,60.74473828,60.78754247,60.8920685,60.9486107,60.97005881,60.87234739,...,91.916167,91.703139,91.499813,91.367441,91.242792,91.045084,90.874595,90.756014,90.679764,90.545600

### 경제적 요인: 주택 종합 전세가격 지수

In [6]:
df_e_4 = pd.read_csv("./data/경제_유형별_전세가격지수.csv")
df_e_4.head()

,주택유형별(1),지역별(1),2003.11,2003.12,2004.01,2004.02,2004.03,2004.04,2004.05,2004.06,...,2024.01,2024.02,2024.03,2024.04,2024.05,2024.06,2024.07,2024.08,2024.09,2024.10
0,종합,전국,60.35291842,59.5753307,59.20969127,59.30727005,59.46695411,59.51404133,59.36242596,58.81942657,...,92.545345,92.569724,92.614448,92.676776,92.791262,92.897805,93.049697,93.249924,93.423252,93.575502
1,종합,수도권,54.17575409,53.38138805,52.99816434,53.07850316,53.24412204,53.24946746,53.02534591,52.44592437,...,90.317980,90.440706,90.612546,90.799050,91.055237,91.333094,91.697985,92.123919,92.493296,92.799639
2,종합,지방,67.24085794,66.51831499,66.19328531,66.31275478,66.45765304,66.56459847,66.52589603,66.05753691,...,94.597705,94.525311,94.445241,94.385968,94.362036,94.301847,94.247276,94.229711,94.214722,94.219491
3,종합,6대광역시,61.23098145,60.42303315,59.92438972,59.96783798,60.11061489,60.17601697,60.0219674,59.56802015,...,88.667508,88.634339,88.658040,88.694780,88.771373,88.791084,88.798439,88.925398,89.036554,89.156293
4,종합,5대광역시,62.91387205,62.11468545,61.64905065,61.71753435,61.88707018,61.98627076,61.87555232,61.39557816,...,88.822809,88.714055,88.628134,88.593466,88.564285,88.479196,88.395291,88.358706,88.322705,88.320415

### 사회적 요인: 시도별 평균 초혼 연령

In [7]:
df_s_1 = pd.read_csv("./data/사회_시도별_평균초혼연령.csv")
df_s_1.head()

,시도별,2000,2000.1,2001,2001.1,2002,2002.1,2003,2003.1,2004,...,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1,2023,2023.1
0,시도별,남편,아내,남편,아내,남편,아내,남편,아내,남편,...,남편,아내,남편,아내,남편,아내,남편,아내,남편,아내
1,전국,29.28,26.49,29.55,26.78,29.77,27.01,30.14,27.27,30.53,...,33.37,30.59,33.23,30.78,33.35,31.08,33.72,31.26,33.97,31.45
2,서울특별시,29.65,27.25,29.88,27.52,30.12,27.78,30.51,28.02,30.89,...,33.72,31.55,33.61,31.6,33.85,31.91,34.17,32.15,34.38,32.42
3,부산광역시,29.43,26.74,29.68,27.04,29.95,27.26,30.35,27.6,30.61,...,33.54,31.04,33.39,31.08,33.4,31.3,33.94,31.67,34.31,31.95
4,대구광역시,29.1,26.51,29.43,26.77,29.65,27.09,29.9,27.33,30.3,...,33.36,30.62,33.08,30.67,33.32,31.03,33.63,31.22,33.71,31.43

### 사회적 요인: 교육정도별 혼인 연령 (구간)

In [8]:
df_s_2 = pd.read_csv("./data/사회_연령_교육정도별_혼인.csv")
df_s_2.head()

,연령별,교육정도별,2000,2000.1,2001,2001.1,2002,2002.1,2003,2003.1,...,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1,2023,2023.1
0,연령별,교육정도별,남편,아내,남편,아내,남편,아내,남편,아내,...,남편,아내,남편,아내,남편,아내,남편,아내,남편,아내
1,20 - 24세,총계,24798,85675,21708,73536,18938,64851,16936,58407,...,5890,16182,4945,12516,4259,9985,4084,10113,3733,9588
2,20 - 24세,초등학교,334,550,302,470,229,335,178,389,...,38,100,15,55,20,53,17,48,10,48
3,20 - 24세,중학교,1846,2640,1582,2571,1311,2150,1203,2361,...,351,784,283,538,222,371,233,463,195,455
4,20 - 24세,고등학교,16694,53021,13977,43147,11936,36462,10104,31132,...,3595,7415,2964,5635,2578,4457,2332,4520,2219,4429

### 사회적 요인: 기사화(도시화률) 면적

In [9]:
df_s_3 = pd.read_csv("./data/사회_시가화면적.csv")
df_s_3.head()

,자치구별(1),자치구별(2),시가화면적별(1),시가화면적별(2),2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,서울시,소계,행정구역면적 (㎢),소계,605.41,605.39,605.40,605.33,605.25,605.27,...,605.25,605.21,605.18,605.20,605.21,605.25,605.20,605.24,605.24,605.24
1,서울시,소계,시가화면적 현황,시가화면적 (㎢),354.13,355.77,357.56,358.19,358.66,361.13,...,362.51,363.13,363.23,366.13,365.63,370.99,371.20,371.20,371.50,371.54
2,서울시,소계,시가화면적 현황,시가화면적비율 (%),58.49,58.77,59.06,59.17,59.26,59.67,...,59.89,60.00,60.02,60.50,60.41,61.30,61.34,61.33,61.38,61.39
3,서울시,종로구,행정구역면적 (㎢),소계,23.91,23.91,23.91,23.91,23.91,23.91,...,23.91,23.91,23.91,23.91,23.91,23.91,23.91,23.91,23.91,23.91
4,서울시,종로구,시가화면적 현황,시가화면적 (㎢),12.57,12.71,12.71,12.71,12.71,12.71,...,12.71,12.71,12.71,12.71,12.71,12.77,12.77,12.77,12.77,12.77

## 타겟 변수: 출산률

In [11]:
df = pd.read_csv("./data/타겟_시군구_출생아수_합계출산율.csv")
df.head()

,시군구별,2000,2000.1,2001,2001.1,2002,2002.1,2003,2003.1,2004,...,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1,2023,2023.1
0,시군구별,출생아수,합계출산율,출생아수,합계출산율,출생아수,합계출산율,출생아수,합계출산율,출생아수,...,출생아수,합계출산율,출생아수,합계출산율,출생아수,합계출산율,출생아수,합계출산율,출생아수,합계출산율
1,전국,640089,1.48,559934,1.309,496911,1.178,495036,1.191,476958,...,302676,0.918,272337,0.837,260562,0.808,249186,0.778,230028,0.721
2,서울특별시,133154,1.275,114764,1.111,102008,1.006,101227,1.014,99828,...,53673,0.717,47445,0.642,45531,0.626,42602,0.593,39456,0.552
3,부산광역시,41222,1.235,35848,1.103,30767,0.975,30117,0.988,28231,...,17049,0.827,15058,0.747,14446,0.728,14134,0.723,12866,0.664
4,대구광역시,32477,1.378,28111,1.216,24260,1.076,24513,1.116,23259,...,13233,0.932,11193,0.807,10661,0.785,10134,0.757,9410,0.702